@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Go to <a asp-controller="Home" asp-action="Chat">Chat</a>.</p>
    <p>This is University Project - Secure Chat Web Application. For more details check out the <a href="https://github.com/p4nd4ta/EncryptedChatApp" target="_blank">GitHub Page</a>.</p>
</div>
