@model ChatAppProject.ViewModels.AddKeyVM

@{
    ViewData["Title"] = "Add Key";
}

<h2>Add Pub Key</h2>

<hr />
<div class="row">
    <div class="container">
        <form asp-action="Create" asp-controller="Keys">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PublicKey" class="control-label"></label>
                <textarea asp-for="PublicKey" class="form-control" cols="13" rows="10"></textarea>
                <span asp-validation-for="PublicKey" class="text-danger"></span>
                @Html.ValidationMessage("KeyErr")
            </div>
            <div class="form-group">
                <input type="submit" value="Add Key" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
